.three-layout{
    display: flex;
}
.left{
    order:1;
    border:1px solid red;
}
.main{
    order:2;
    flex: 1 1 auto;
    border:1px solid #0f0
}
.right{
    order:3;
    border:1px solid #0536
}
